 @use '../../Styles/variables' as variables;
.bg-dark {
    background-color: variables.$color-purple-dark;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sign-in-content {
    margin-top: variables.$size-7xl; // 60px
    background-color: variables.$color-white;
    width: variables.$size-10xl; // 300px
    padding: variables.$space-2xl;
    text-align: left;
    box-shadow: 0 variables.$size-sm variables.$size-md rgba(0, 0, 0, 0.2);

    h1 {
        text-align: center;
        margin-bottom: variables.$space-base;
        color: variables.$color-blue-dark;
    }

    .sign-in-icon {
        display: block;
        margin: 0 auto;
        font-size: variables.$space-huge; // 5rem
        color: variables.$color-blue-dark;
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: variables.$space-base;

        label {
            font-weight: bold;
            margin-bottom: variables.$space-xs;
        }

        input {
            padding: variables.$space-s;
            font-size: variables.$space-base;
        }
    }

    .input-remember {
        display: flex;
        align-items: center;
        margin-bottom: variables.$space-base;

        label {
            margin-left: variables.$space-s;
        }
    }

    .sign-in-button {
        width: 100%;
        padding: variables.$space-s;
        background-color: variables.$color-green;
        color: variables.$color-white;
        font-weight: bold;
        font-size: variables.$space-base;
        border: none;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: variables.$color-medium-green;
        }
    }
}

.error-message {
    color: variables.$color-error-text; // définit comme red si pas encore existant
    font-size: 0.9rem;
    margin-bottom: variables.$space-base;
    text-align: center;
}