.bg-dark {
    background-color: #12002b;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sign-in-content {
    margin-top: 30px;
    background-color: #fff;
    width: 300px;
    padding: 2rem;
    text-align: left;
    margin-top: 60px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    h1 {
        text-align: center;
        margin-bottom: 1rem;
        color: #2c3e50;
    }

    .sign-in-icon {
        display: block;
        margin: 0 auto;
        font-size: 5rem;
        color: #2c3e50;

    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
            font-weight: bold;
            margin-bottom: 0.25rem;
        }

        input {
            padding: 0.5rem;
            font-size: 1rem;
        }
    }

    .input-remember {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        label {
            margin-left: 0.5rem;
        }
    }

    .sign-in-button {
        width: 100%;
        padding: 0.5rem;
        background-color: #00bc77;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: #00a766;
        }
    }
}