 @use '../../Styles/variables' as variables;// Import the variables file for consistent styling

.white-box {
    background: variables.$color-white;
    max-width: variables.$size-11xl; // 400px
    margin: variables.$space-2xl auto;
    padding: variables.$space-2xl;
    border-radius: variables.$space-s; // 0.5rem
    text-align: left;
}

.edit-profile h2 {
    text-align: center;
    margin-bottom: variables.$space-xxl; // 1.5rem
    color: variables.$color-blue-dark;
}

.input-wrapper {
    margin-bottom: variables.$space-base;

    label {
        font-weight: bold;
        display: block;
        margin-bottom: variables.$space-xs; // 0.25rem
        color: variables.$color-blue-dark;
    }

    input {
        width: 100%;
        padding: variables.$space-s;
        font-size: variables.$space-base;
        border: variables.$size-xs solid variables.$color-border-light;
        border-radius: variables.$size-s;

        &:disabled {
            background-color: variables.$color-bg-very-light;
            color: variables.$color-gray-lighter;
        }
    }
}

.button-group {
    display: flex;
    justify-content: center;
    gap: variables.$space-base;
    margin-top: variables.$space-xxl;

    .btn {
        background-color: variables.$color-green;
        color: variables.$color-white;
        padding: variables.$space-sm variables.$space-2xl; // 0.6rem 2rem
        border: none;
        border-radius: variables.$size-s;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: variables.$color-dark-green;
        }
    }
}