 @use '../../Styles/variables' as variables;

.profile-container {
    background-color: variables.$color-purple-dark;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: variables.$space-2xl;
}

.profile-header {
    background-color: variables.$color-purple-dark;
    color: variables.$color-white;
    padding: variables.$space-base 0;
    text-align: center;
    width: 100%;
    margin-bottom: variables.$space-base;
}

.profile-header h1 {
    font-size: variables.$space-3xl; // 2rem
    margin: 0;
    padding: 0;
}

.profile-edit-button {
    border-color: variables.$color-green;
    background-color: variables.$color-green;
    color: variables.$color-white;
    font-weight: bold;
    padding: variables.$size-l; // 10px
    margin-top: variables.$space-base;
    width: variables.$size-7xl; // 120px
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: variables.$size-m; // 5px
}

.profile-accounts {
    display: flex;
    flex-direction: column;
    gap: variables.$size-6xl; // 30px
    width: 100%;
    margin: 0;
    padding: 0;
}

.profile-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$color-white;
    color: variables.$color-black;
    padding: variables.$space-xxl variables.$space-2xl; // 1.5rem 2rem
    margin: 0 variables.$size-6xl; // 100px
    width: calc(100vw - 250px);
    border-radius: variables.$size-m;
    box-sizing: border-box;
    box-shadow: 0 variables.$size-sm variables.$size-m rgba(0, 0, 0, 0.1);
    text-align: left;
}

.profile-account-title {
    font-size: variables.$space-lg;
    font-weight: bold;
    color: variables.$color-gray-medium;
    margin: 0;
}

.profile-account-amount {
    font-size: 2.5rem;
    font-weight: bold;
    color: variables.$color-green;
    margin: variables.$space-s 0;
}

.profile-account-desc {
    font-size: variables.$space-base;
    color: variables.$color-gray-light;
    margin: 0;
}

.profile-btn {
    padding: variables.$size-l variables.$size-xl; // 10px 20px
    background-color: variables.$color-green;
    color: variables.$color-white;
    font-size: variables.$space-base;
    font-weight: bold;
    border: none;
    border-radius: variables.$size-m;
    cursor: pointer;
}

