// 🎨 Couleurs
$color-black: #000;
$color-dark-green: #00965d;
$color-medium-green: #00a766;
$color-green: #00bc77;
$color-purple-dark: #12002b;
$color-gray-dark: #222;
$color-blue-dark: #2c3e50;
$color-gray-medium: #333;
$color-green-light: #48c798;
$color-gray-light: #555;
$color-gray-lighter: #999;
$color-border-light: #ccc;
$color-bg-light: #e0e0e0;
$color-error: #e44646;
$color-bg-very-light: #eee;
$color-alert: #ff6868;
$color-white: #fff;
$color-error-text: red;

// 🧱 Espacements (rem)
$space-xs: 0.25rem;
$space-s: 0.5rem;
$space-sm: 0.6rem;
$space-m: 0.9rem;
$space-base: 1rem;
$space-md: 1.2rem;
$space-lg: 1.25rem;
$space-xl: 1.3rem;
$space-xxl: 1.5rem;
$space-2xl: 2rem;
$space-3xl: 2.5rem;
$space-huge: 5rem;

// 📐 Tailles (px)
$size-none: 0px;
$size-xs: 1px;
$size-sm: 2px;
$size-s: 4px;
$size-m: 5px;
$size-md: 6px;
$size-ml: 8px;
$size-l: 10px;
$size-xl: 20px;
$size-2xl: 30px;
$size-3xl: 40px;
$size-4xl: 50px;
$size-5xl: 60px;
$size-6xl: 100px;
$size-7xl: 120px;
$size-8xl: 200px;
$size-9xl: 250px;
$size-10xl: 300px;
$size-11xl: 400px;

// 📊 Pourcentages
$percent-0: 0%;
$percent-10: 10%;
$percent-33: 33%;
$percent-50: 50%;
$percent-60: 60%;
$percent-80: 80%;
$percent-full: 100%;

// 🌀 Radius
$radius-base: 0.5rem;

// 🔤 Typo
$font-xs: 0.9rem;
$font-sm: 1rem;
$font-md: 1.2rem;
// 🖥️ Tailles max des écrans (media queries)
$size-max-w-sm: 720px;
$size-max-w-md: 768px;
$size-max-w-lg: 920px;
$size-max-w-xl: 1200px;
$size-max-w-xxl: 1440px;

// 📐 Tailles (px)
$size-none: 0px;
 $size-11xl: 400px;

// 🖥️ Tailles max des écrans (media queries)
$size-max-w-sm: 720px;
$size-max-w-md: 768px;
$size-max-w-lg: 920px;
$size-max-w-xl: 1200px;
$size-max-w-xxl: 1440px;