@use '../../../Styles/variables' as variables;

.header {
    background-color: variables.$color-white;
    padding: variables.$space-base variables.$space-2xl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$color-white; // corrigé ici
    text-align: right;
}

.header-logo-img {
    max-width: variables.$size-8xl;
    height: auto;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: variables.$space-base;

    a,
    .icon {
        color: variables.$color-blue-dark;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .logout {
        color: variables.$color-alert;
    }
}