@use '../../../Styles/variables' as variables;

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$color-white;
    padding: variables.$space-base variables.$space-2xl;
    border-bottom: variables.$size-xs solid variables.$color-bg-light;
}

.main-nav-logo img {
    max-height: variables.$size-3xl; // 40px
}

.main-nav-items {
    display: flex;
    align-items: center;
    gap: variables.$space-xxl;

    .main-nav-user {
        font-weight: 600;
        color: variables.$color-green;
        font-size: variables.$space-base;

        i {
            margin-right: variables.$space-s;
        }
    }

    .icon {
        font-size: variables.$space-xl;
        color: variables.$color-green;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
            color: variables.$color-dark-green;
        }
    }

    .logout:hover {
        color: variables.$color-error;
    }
}