@use '../../../Styles/variables' as variables;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: variables.$size-sm solid variables.$color-border-light;
    padding: variables.$space-2xl 0 variables.$space-xxl;
    background-color: variables.$color-white;

    .footer-text {
        margin: 0;
        padding: 0;
        color: variables.$color-blue-dark;
        font-size: variables.$space-base;
    }
}