@use '../../Styles/variables' as variables;

/* ==========================
   Transactions Styles
========================== */
.transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: variables.$percent-80;
    padding: variables.$space-2xl 0;
    box-sizing: border-box;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: variables.$color-white;
    padding: variables.$space-xxl;
    margin-bottom: variables.$space-base;
    border-radius: variables.$size-m; // 5px
    box-shadow: 0 variables.$size-sm variables.$size-m rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
}

.account-title {
    font-size: variables.$space-lg;
    font-weight: bold;
    color: variables.$color-gray-medium;
    margin-bottom: variables.$space-s;
}

.account-amount {
    font-size: variables.$space-2xl;
    font-weight: bold;
    color: variables.$color-green;
    margin-bottom: variables.$space-xs;
}

.account-amount-description {
    font-size: variables.$space-base;
    color: variables.$color-gray-light;
}

.transaction-button {
    padding: variables.$size-l variables.$size-xl;
    background-color: variables.$color-green;
    color: variables.$color-white;
    font-size: variables.$space-base;
    font-weight: bold;
    border: none;
    border-radius: variables.$size-m;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: variables.$space-base;
    align-self: flex-end;

    &:hover {
        background-color: variables.$color-dark-green; // Remplacé le darken() pour éviter les erreurs
    }
}

/* ==========================
   Responsiveness Styles
========================== */
@media (min-width: variables.$size-11xl) {
    .transactions {
        width: variables.$percent-60;
    }

    .account {
        width: 100%;
    }

    .transaction-button {
        width: variables.$size-8xl; // 200px
    }
}