@use '../../Styles/variables' as variables; // Import correct

.transaction-item {
    background-color: variables.$color-green;
    color: variables.$color-white;
    border-radius: variables.$size-m; // 5px
    overflow: hidden;
    margin-bottom: variables.$space-xxl; // 1.5rem
    transition: all 0.3s ease;

    .transaction-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: variables.$space-base variables.$space-xxl;
        cursor: pointer;

        span {
            flex: 1;
            text-align: left;
            font-weight: 500;
        }

        .arrow {
            flex: 0 0 variables.$size-3xl; // 40px
            text-align: right;

            i {
                font-size: variables.$space-base;
                color: variables.$color-white;
                transition: transform 0.3s ease;
            }
        }
    }

    .transaction-details {
        background-color: variables.$color-green-light;
        padding: variables.$space-xxl;
        display: flex;
        flex-direction: column;
        gap: variables.$space-base;

        .detail-label {
            font-weight: bold;
            font-size: variables.$space-base;
            color: variables.$color-white;
            align-self: start;
        }
    }
}